#clock, #short, #full {
    position: absolute;
    top: 20%;
    width: 99%;
    margin: -60px auto 0 auto;
    font-size: 60px;
    text-align: center;
    color: black;
    cursor: pointer;
}

#short {
    top: 60%
}

#full{
    top: 40%
}
